<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <style media="screen">

    </style>
  </head>
  <body>
      <!--
      Quand on a besoin de faire communiquer 2 instances, il est probalble qu'il
      vaille mieux faire une seule instance.
      Ici on le fait quand même.
      -->
      <div id="app1">
        <h1>{{ title }}</h1>
      </div>
      <div id="app2">
        <h1>{{ title }}</h1>
        <!-- on ajoute l'attribute ref pour y acccéder via le js et $refs -->
        <button type="button" @click="changeApp1" ref="myButton">Change App 1  title</button>
      </div>
      <!-- le contenu est ajouté via la propriété 'template' et la vue est liée via $mount -->
      <div id="app3"></div>
      <script type="text/javascript">
        var vm1 = new Vue({
          el: '#app1',
          data: {
            title: 'app1'
          }
        });

        var vm2 = new Vue({
          el: '#app2',
          data: {
            title: 'app2'
          },
          methods: {
            changeApp1: function() {
              vm1.title = 'changed';
              console.log(this.$refs.myButton);
            }
          }
        });

        var vm3 = new Vue({
          template: '<h1>Hello</h1>'
        });
        vm3.$mount('#app3');
      </script>
  </body>
</html>
