<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <style media="screen">

    </style>
  </head>
  <body>
      <!-- Composant sans passer par Vue.component -->
      <div id="app1">
        <hello></hello>
        <hr>
        <hello></hello>
      </div>
      <script type="text/javascript">
        // le composant déclaré ainsi est ensuite lié à une seule instance de Vue
        var cmp = {
          // renvoyer un nouvel objet par composant
          data: function() {
            return {
              nom: 'Bob'
            }
          },
          template: '<h1>Hello {{ nom }} !!!!</h1>'
        }

        var vm1 = new Vue({
          el: '#app1',
          components: {
            'hello': cmp
          }
        });
      </script>
  </body>
</html>
