<html>
  <head>
  <script src="https://cdn.jsdelivr.net/npm/vue">
  </script>
  </head>
  <body>
      <div id="app">
        <input type="text" v-on:input="changeTitle">
        <p>{{title}}</p>
      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            title: 'hello world'
          },
          methods: {
            changeTitle: function(e) {
              this.title = e.target.value;
            }
          }
        });
      </script>
  </body>
</html>
