<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <style media="screen">

    </style>
  </head>
  <body>
      <div id="app">
        <p><a href="https://vuejs.org/v2/guide/list.html#Mapping-an-Array-to-Elements-with-v-for">Lien vers doc</a></p>
        <ul>
          <!-- oon itère sur une liste en passant l'index -->
          <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>

        <hr>
        <!-- version avec un template -->
        <template v-for="(ingredient, i) in ingredients">
          <h2>{{ ingredient }}</h2>
          <p>{{ i }}</p>
        </template>

        <hr>
        <!-- on itère sur une liste, puis sur les propriétés de l'objet,
          en affichant la propriété et la valeur -->
        <ul>
          <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key   }} : {{ value }} ({{ index }}) </div>
          </li>
        </ul>

        <hr>
        <div v-for="n in 7">
          {{ n }}
        </div>
      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
              {name: 'Bob', age: 27, color: 'red'},
              {name: 'Roger', age: 25, color: 'blue'}
            ]
          }
        });
      </script>
  </body>
</html>
