<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
  </head>
  <body>
      <div id="app">
        <p><a href="https://vuejs.org/v2/guide/events.html">Lien vers la doc</a></p>
        <!--
        Ajouter un listener, toutes les évènements du dom pour button sont autorisés
        On peut ajouter de paramètres perso avec l'évènement
        -->
        <button v-on:click="increase(2, $event)">Click Me</button>
        <p>{{counter}}</p>
        <p v-on:mousemove="updateCoordinates">
          Coordinates {{ x }} / {{ y }}
          <!--
          On peut ajouter des modifiers aux listeners.
          Cf : https://vuejs.org/v2/guide/events.html#Event-Modifiers
          -->
          - <span v-on:mousemove.stop="">NE PAS UPDATER QUAND JE PASSE LA DESSUS</span>
        </p>
        <!--
        ici on met le listener uniquement pour la touche enter
        -->
        <input type="text" v-on:keyup.enter="alertMe">
      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            counter: 0,
            x: 0,
            y: 0
          },
          methods: {
            increase: function(increment, e) {
              console.log(e);
              this.counter += increment;
            },
            updateCoordinates: function(e) {
              this.x = e.clientX;
              this.y = e.clientY;
            },
            alertMe: function(){
              alert('Yo !');
            }
          }
        });
      </script>
  </body>
</html>
