<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
  </head>
  <body>
      <div id="app">
        <p><a href="https://vuejs.org/v2/guide/syntax.html">Lien vers la doc</a></p>

        <h1 v-once>{{ title }}</h1>
        <p>{{sayHello()}} <a v-bind:href="link">Google</a></p>

        <p v-html="completeLink"></p>
      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            title: 'hello world',
            link: 'http://google.fr',
            completeLink: '<a href="http://davidfranck.eu">Dav</a>'
          },
          methods: {
            sayHello: function(e) {
              /* ici on a besoin de this (Vuejs "proxifie" l'objet data pour que
              l'on accède à ses propriétés via this)*/
              this.title = 'titre modifié dans fonction'
              return this.title;
            }
          }
        });
      </script>
  </body>
</html>
