<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
  </head>
  <body>
      <div id="app">
        <p><a href="https://vuejs.org/v2/guide/computed.html">lien vers la doc</a></p>

        <div class="">
          <!-- Two way data-binding -->
          <input type="text" v-model="name">
          <span>{{ name }}</span>
        </div>

        <div>
          <button v-on:click="counter++">Increase</button>
          <button v-on:click="counter--">Decrease</button>
          <span>Counter : {{ counter }} - {{ output }}</span>
        </div>

        <div>
          <!-- utilisation de "watch" - exécuté à chaque fois qu'une propriété change, ici valeurWatch -->
          <button v-on:click="valeurWatch++">Incrementer valeur pour test watch</button>
          <p>{{ valeurWatch }}</p>
        </div>
      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            name: 'David',
            counter: 0,
            result: '',
            valeurWatch: 0
          },
          computed: {
            output: function() {
              return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
            }
          },
          methods: {
          },
          watch: {
            valeurWatch: function(value) {
              var vm = this;
              setTimeout(function(){
                vm.valeurWatch = 0;
              }, 2000);
            }
          }
        });
      </script>
  </body>
</html>
