<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <style media="screen">

    </style>
  </head>
  <body>
      <div id="app">
        <p v-if="show">On me voit</p>
        <p v-else>On me voit si on ne voit pas l'autre</p>
        <p>On me voit ?</p>

        <!-- pour grouper des éléments si on ne veut pas mettre une div  -->
        <template v-if="show">
          <h1>un titre</h1>
          <p>dans le template</p>
        </template>
        <button type="button" @click="show = !show">Switch</button>

        <!--
        v-show
        ne retire pas du dom, met display:none
        -->
        <p v-show="show">Toujours attaché au DOM, même invisible</p>

      </div>
      <script type="text/javascript">
        new Vue({
          el: '#app',
          data: {
            show: true
          }
        });
      </script>
  </body>
</html>
