<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <style media="screen">

    </style>
  </head>
  <body>
      <!-- Vue.component utilisation basique -->
      <div id="app1">
        <hello></hello>
        <hr>
        <hello></hello>
      </div>
      <script type="text/javascript">
        // le composant est enregistré globalement pour toutes les instances Vue
        Vue.component('hello', {
          // renvoyer un nouvel objet par composant
          data: function() {
            return {
              nom: 'Bob'
            }
          },
          template: '<h1>Hello {{ nom }} !!!!</h1>'
        });

        var vm1 = new Vue({
          el: '#app1',
          data: {
            title: 'app1'
          }
        });
      </script>
  </body>
</html>
