<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <myHeader></myHeader>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-server-status></app-server-status>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Server Details are currently not updated</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <my-footer></my-footer>
            </div>
        </div>
    </div>
</template>

<script>
  import MyHeader from './components/Header.vue';
  import ServerStatus from './components/ServerStatus.vue';
  import MyFooter from './components/Footer.vue';

  export default {
    components: {
      myHeader: MyHeader,
      'app-server-status': ServerStatus,
      'my-footer' : MyFooter
    }
  }
</script>

<style>

</style>
