<template>
  <!-- il faut absolument un élément racine qui englobe tous les autres -->
  <div>
    <p>Server status {{ status }}</p>
    <button @click="changeStatus">Change</button>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        status: 'Critical'
      }
    },
    methods: {
      changeStatus() {
        this.status = 'Normal';
      }
    }
  }
</script>
