<template>
    <div>
      <p>Counter is: {{ doubleCounter }}</p>
      <p>Number of clicks : {{ stringCounter }}</p>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex';

    export default {
      // on utilise mapGetters qui permet d'eviter le code ci-dessous
      // afin de pouvoir ajouter nos propres computed properties, on utilise la syntaxe avec le spread '...mapGetters'
      // mais il faut alors ajouter le package : npm install --save-dev babel-preset-stage-2
        computed: mapGetters([
         'doubleCounter',
         'stringCounter'
       ])

        /* sans mapGetters :
        {
          counter() {
            return this.$store.getters.doubleCounter;
          },
          clicks() {
            return this.$store.getters.stringCounter;
          }
        }
        */
    }
</script>
