<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Http</h1>
                <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" type="text" v-model="user.username">
                </div>
                <div class="form-group">
                  <label>Mail</label>
                  <input class="form-control" type="text" v-model="user.email">
                </div>
                <button class="btn btn-primary" @click="submit">Submit</button>
                <button class="btn btn-primary" @click="submitResource">Submit avec resource</button>
                <hr>
                <button class="btn btn-primary" @click="fetchData">Get Data</button>
                <button class="btn btn-primary" @click="fetchDataResource">Get Data avec resource</button>
                <ul class="list-group">
                  <li class="list-group-item" v-for="u in users">{{ u.username }} - {{ u.email }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          user: {
            username: '',
            email: ''
          },
          users:[],
          resource: {}
        }
      },
      methods: {
        submit() {
          this.$http.post('data.json', this.user)
                    .then(response => {
                      console.log(response);
                    }, error => {
                      console.log(error);
                    });
        },
        submitResource() {
          this.resource.save({}, this.user);// on fait l'action par défaut
          this.resource.mySave({node: 'dataAlternate.json'}, this.user);// on fait une action que l'on a créé nous même
        },
        fetchData() {
          this.$http.get('data.json')
                    .then(response => {
                      return response.json();// ici on a une promesse aussi
                    })
                    .then(data => {
                      const resultArray = [];
                      for(let key in data){
                        resultArray.push(data[key]);
                      }
                      this.users = resultArray;
                    });
        },
        fetchDataResource() {
          this.resource.myGetData({node: 'dataAlternate'})
                        .then(response => {
                          return response.json();// ici on a une promesse aussi
                        })
                        .then(data => {
                          const resultArray = [];
                          for(let key in data){
                            resultArray.push(data[key]);
                          }
                          this.users = resultArray;
                        });
        }
      },
      created() {
        const customActions = {
          mySave: { method: 'POST', url: 'dataAlternate.json'},
          myGetData: { method: 'GET' }
        };
        this.resource = this.$resource('{node}.json', {}, customActions);
      }
    }
</script>

<style>
</style>
