<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <!-- Personnages -->
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                  style="background-color: green; margin: 0; color: white;"
                  :style="{width: game.playerHealth + '%'}">
                  {{ game.playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                  style="background-color: green; margin: 0; color: white;"
                  :style="{width: game.monsterHealth + '%'}">
                  {{ game.monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!showActions">
        <div class="small-12 columns">
            <button id="start-game" @click="newGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="showActions">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="showActions = !showActions">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="showActions && history.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="elem in history" v-html="elem"></li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js" charset="utf-8"></script>
</body>
</html>
