<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="currentServer == null">Server Details are currently not updated</p>
        <p v-if="currentServer != null">Server Details : id = {{ currentServer.id }} / status : {{ currentServer.status }}
        <button v-if="currentServer.status != 'Normal'" @click="backToNormal()">Back to Normal</button>
        </p>
    </div>

</template>

<script>
  import { eventBus } from '../../main';

  export default {
    data () {
      return {
        currentServer: null
      }
    },
    methods: {
      backToNormal() {
        eventBus.$emit('backToNormal', this.currentServer);
        // ou directement currentServer.status = 'Normal'; car on fonctionne par référence
      }
    },
    created () {
      eventBus.$on('showDetailsEvent', (server) => {
        this.currentServer = server;
      });
    }
  }
</script>

<style>

</style>
